<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime</title>
    <style>
        div.fieldWrapper {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>
<body>

<form method="POST" action="" class="form-group col-md-4">{% csrf_token %}

    <h1>Crime Details</h1>
    {{ crime_form.non_field_errors }}
    <div class="fieldWrapper">
        {{ crime_form.details.errors }}
        <label for="{{ crime_form.details.id_for_label }}">Details</label>
        {{ crime_form.details }}
    </div>

    <hr>

    <h1>Crime Category</h1>
    {{ crime_category_form.non_field_errors }}
    <div class="fieldWrapper">
        {{ crime_category_form.category.errors }}
        <label for="{{ crime_category_form.category.id_for_label }}">Category</label>
        {{ crime_category_form.category }}
    </div>
    <div class="fieldWrapper">
        {{ crime_category_form.threat_level.errors }}
        <label for="{{ crime_category_form.threat_level.id_for_label }}">Threat Level</label>
        {{ crime_category_form.threat_level }}
    </div>
    <div class="fieldWrapper">
        {{ crime_category_form.penalty.errors }}
        <label for="{{ crime_category_form.penalty.id_for_label }}">Penalty</label>
        {{ crime_category_form.penalty }}
    </div>

    <hr>

    <h1>Victim Details</h1>
    {{ victim_form.non_field_errors }}
    <div class="fieldWrapper">
        {{ victim_form.name.errors }}
        <label for="{{ victim_form.name.id_for_label }}">Victim Name</label>
        {{ victim_form.name }}
    </div>
    <div class="fieldWrapper">
        {{ victim_form.cast.errors }}
        <label for="{{ victim_form.cast.id_for_label }}">Cast</label>
        {{ victim_form.cast }}
    </div>
    <div class="fieldWrapper">
        {{ victim_form.age.errors }}
        <label for="{{ victim_form.age.id_for_label }}">Age</label>
        {{ victim_form.age }}
    </div>
    <div class="fieldWrapper">
        {{ victim_form.gender.errors }}
        <label for="{{ victim_form.gender.id_for_label }}">Gender</label>
        {{ victim_form.gender }}
    </div>
    <div class="fieldWrapper">
        {{ victim_form.complexion.errors }}
        <label for="{{ victim_form.complexion.id_for_label }}">Complexion</label>
        {{ victim_form.complexion }}
    </div>
    <div class="fieldWrapper">
        {{ victim_form.profession.errors }}
        <label for="{{ victim_form.profession.id_for_label }}">Profession</label>
        {{ victim_form.profession }}
    </div>


    <hr>

    <h1>Suspect Details</h1>
    {{ suspect_form.as_p }}

    <hr>

    <h1>Date Committed</h1>
    {{ crime_committed_form.as_p }}

    <hr>

    <h1>Location Details</h1>
    {{ location_form.as_p }}
    <input type="submit" value="Submit">
</form>

</body>
</html>