<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location ID {{ location.location_id}}</title>
    <style>
        body {
            font-family: 'Lato', sans-serif;
            background: #e2dedb;
            color: #b3aca7;
        }
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Location ID "{{ location.location_id}}" Details</caption>
    <tr>
    <th>Address</th>
    <th>State</th>
    <th>City</th>
    <th>Edit</th>
    </tr>
    <tr>
    <td>{{ location.address }}</td>
    <td>{{ location.state }}</td>
    <td>{{ location.city }}</td>
    <td><a href='http://127.0.0.1:8000/main/location-list/details/{{ location.location_id }}/edit'>Edit</a></td>
    </tr>
</table>


</body>
</html>