<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suspect ID {{ suspect.suspect_id }}</title>
    <style>
        body {
            font-family: 'Lato', sans-serif;
            background: #e2dedb;
            color: #b3aca7;
        }
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Suspect ID "{{ suspect.suspect_id }}" Details</caption>
    <tr>
    <th>Physique</th>
    <th>Complexion</th>
    <th>Cast</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Details</th>
    </tr>
    <tr>
    <td>{{ suspect.physique }}</td>
    <td>{{ suspect.complexion }}</td>
    <td>{{ suspect.cast }}</td>
    <td>{{ suspect.age }}</td>
    <td>{{ suspect.gender }}</td>
    <td><a href='http://127.0.0.1:8000/main/suspect-list/details/{{ suspect.suspect_id }}/edit/'>Edit</a></td>

    </tr>
</table>


</body>
</html>