<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime ID {{ crime.crime_id }}</title>
    <style>
        body {background-color: powderblue;}
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Crime ID "{{ crime.crime_id }}" Details</caption>
    <tr>
    <th>Details</th>
    <th>Category</th>
    <th>Edit</th>
    </tr>
    <tr>
    <td>{{ crime.details }}</td>
    <td>{{ crime.category.category }}</td>
    <td><a href='http://127.0.0.1:8000/main/crime-list/details/{{ crime.crime_id }}/edit/'>Edit</a></td>

    </tr>
</table>


</body>
</html>