<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Victim ID {{ victim.victim_id}}</title>
    <style>
        body {background-color: powderblue;}
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Victim ID "{{ victim.victim_id}}" Details</caption>
    <tr>
    <th>Name</th>
    <th>Cast</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Complexion</th>
    <th>Profession</th>
    </tr>
    <tr>
    <td>{{ victim.name }}</td>
    <td>{{ victim.cast }}</td>
    <td>{{ victim.age }}</td>
    <td>{{ victim.gender }}</td>
    <td>{{ victim.complexion }}</td>
    <td>{{ victim.profession }}</td>
    </tr>
</table>


</body>
</html>