<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Victim Details</title>
    <style>
        body {background-color: powderblue;}
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Victims</caption>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Cast</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Complexion</th>
    <th>Profession</th>
    <th>Details</th>
    <th>Delete</th>
    </tr>

{% for victim in victims %}
    <tr>
    <td>{{ victim.victim_id }}</td>
    <td>{{ victim.name }}</td>
    <td>{{ victim.cast }}</td>
    <td>{{ victim.age }}</td>
    <td>{{ victim.gender }}</td>
    <td>{{ victim.complexion }}</td>
    <td>{{ victim.profession }}</td>
    <td><a href='http://127.0.0.1:8000/main/victim-list/details/{{ victim.victim_id }}'>Details</a></td>
    <td><a href='http://127.0.0.1:8000/main/victim-list/details/{{ victim.victim_id }}/delete/'>Delete</a></td>
    </tr>
{% endfor %}

</table>


</body>
</html>