<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Individual Crimes</title>
    <style>
        body {background-color: powderblue;}
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Individual Crime Details</caption>
    <tr>
    <th>ID</th>
    <th>Details</th>
    <th>Category</th>
    <th>Details</th>
    <th>Delete</th>
    </tr>

{% for crime in crimes %}
    <tr>
    <td>{{ crime.crime_id }}</td>
    <td>{{ crime.details }}</td>
    <td>{{ crime.category }}</td>
    <td><a href='http://127.0.0.1:8000/main/crime-list/details/{{ crime.crime_id }}'>Details</a></td>
    <td><a href='http://127.0.0.1:8000/main/crime-list/details/{{ crime.crime_id }}/delete/'>Delete</a></td>

    </tr>
{% endfor %}

</table>


</body>
</html>