<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <style>
        body {background-color: powderblue;}
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Locations</caption>
    <tr>
    <th>ID</th>
    <th>Address</th>
    <th>State</th>
    <th>City</th>
    </tr>

{% for loc in locations %}
    <tr>
    <td><a href='http://127.0.0.1:8000/main/location-detail/{{ loc.location_id }}'>{{ loc.location_id }}</a></td>
    <td>{{ loc.address }}</td>
    <td>{{ loc.state }}</td>
    <td>{{ loc.city }}</td>
    </tr>
{% endfor %}

</table>


</body>
</html>