<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime Category Details</title>
    <style>
        body {background-color: powderblue;}
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Crime Categories</caption>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Threat Level</th>
    <th>Penalty</th>
    </tr>

{% for category in crime_categories %}
    <tr>
    <td>{{ category.category_id}}</td>
    <td>{{ category.category }}</td>
    <td>{{ category.threat_level }}</td>
    <td>{{ category.penalty }}</td>
    </tr>
{% endfor %}

</table>


</body>
</html>