<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime Details</title>
    <style>
        body {background-color: powderblue;}
        tr   {text-align: center;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        caption{
            font-size: 40px;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <caption>Crimes</caption>
    <tr>
    <th>ID</th>
    <th>Location</th>
    <th>Victim</th>
    <th>Suspect</th>
    <th>Crime</th>
    <th>Date</th>
    </tr>

{% for crime in crimes %}
    <tr>
    <td>{{ crime.id }}</td>
    <td>{{ crime.location.address }}</td>
    <td>{{ crime.victim.name }}</td>
    <td>{{ crime.suspect.gender }}</td>
    <td>{{ crime.crime.category.name }}</td>
    <td>{{ crime.date }}</td>
    </tr>
{% endfor %}

</table>


</body>
</html>